* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-image: url(/src/images/img15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/************************************ NAVBAR ********************************/

.navb {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.navBar {
  position: sticky;
  /* background: rgb(234, 223, 223, 0.7); */
  background: #fff;
  top: 0;
}

.navbar .fa-bars {
  background: none;
  color: #fff;
  padding: 5px 0;
}
.sweet {
  color: #23211f;
  font-weight: 700;
  font-size: 30px;
}
.tooth {
  color: #0e9494;
  font-weight: 700;
  font-size: 30px;
  padding-left: 3px;
}

.nav-link {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  font-weight: 700;
  width: fit-content;
}

.nav-link:hover {
  color: #0e9494;
}

.active {
  border-bottom: 2px;
  height: auto;
  border-bottom: 3.5px #0e9494 solid;
}

.logo {
  border: none;
}
.button--box {
  width: 100%;
  padding: 5px;
}
.navbar-toggler {
  background: #0e9494;
  border: none;
}

.menu--bar {
  float: right;
  background: none;
  border: none;
  justify-content: center;
  display: none;
}

@media (max-width: 768px) {
  .logo .sweet,
  .tooth {
    font-size: 25px;
  }
  .nav-pills {
    display: none;
  }

  .menu--bar {
    display: block;
  }
  .nav-link {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    padding: 2px 0;
    width: fit-content;
  }
}

/************************************ HERO SECTION ******************************/
.hero {
  background: rgba(255, 255, 255, 0.8);
  /* background: #fff; */
  /* background-image: url(/src/images/hero-bg.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.first-head {
  margin-left: 5%;
  width: fit-content;
  max-width: 600px;
  font-weight: 700;
  border-radius: 10px;
}
.scnd-head {
  margin-left: 5%;
  width: fit-content;
  max-width: 700px;
  font-weight: 500;
}
.para {
  margin-left: 5%;
  width: fit-content;
  max-width: 650px;
  font-size: 20px;
}

.explore-button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #0e9494;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.explore-button:hover {
  background: #076262;
  transition: all 0.5s ease-out;
  .fa {
    background: none;
    height: auto;
  }
}

/********************************** ABOUT US *****************************/
.about--us {
  background: rgb(248, 254, 255);
  /* background-image: url(./images/monika-grabkowska-neu4T59mTcY-unsplash.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.crd {
  text-align: center;
  width: 250px;
  max-width: 300px;
  background: #eeeced;
  color: #000000;
}

.crd .fa-sharp {
  margin-top: 20px;
  color: #0e9494;
}

.about--sweet {
  color: #23211f;
  font-weight: 700;
}
.about--tooth {
  color: #08e8e8;
  font-weight: 700;
  padding-left: 3px;
}
.about-logo {
  margin-left: 5%;
  width: fit-content;
}

.crd h4 {
  font-weight: 700;
}
.grid img {
  width: 100px;
}

/********************************************* CONTENT *******************************/

.go-back {
  background: none;
  color: #000;
  font-weight: 600;
  border: none;
  border-bottom: 3px solid #0e9494;
}

.fa-long-arrow-left {
  margin-right: 7px;
}

.go-back:hover {
  color: #0e9494;
}
.content {
  background: #f6f6f6;
}
.content h1 {
  font-weight: 700;
}

.content ul li img {
  max-width: 300px;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content .cards ul {
  display: inline-block;
}

.content p {
  text-align: left;
  margin-right: auto;
}

.content .fa {
  background: none;
}

.content .fa-star {
  color: goldenrod;
}
.content .title {
  font-size: 20px;
  font-weight: 700;
}

.content button {
  padding: 10px 15px;
  font-weight: 600;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 4px;
}

@media (max-width: 425px) {
  .content ul li img {
    max-width: 50px;
    margin: 10px -20px;
  }
}

@media (max-width: 768px) {
  .content ul li img {
    max-width: 250px;
  }
}

/********************************************** RECIPE ***********************************/
.bg {
  background: #fff;
}
.recipe {
  background: #ffffff;
  width: fit-content;
}

.recipe img {
  max-width: 500px;
}

.recipe .fa {
  background: none;
}

.recipe .fa-star {
  color: goldenrod;
}

.recipe .ingred li {
  list-style-type: none;
}

.recipe .list-icon {
  max-width: 40px;
}
.recipe .instr ul {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 768px) {
  .recipe img {
    max-width: 350px;
  }
}
@media (max-width: 425px) {
  .recipe img {
    max-width: 300px;
  }
}
/********************************************** CONTACT **********************************/

.contact {
  background: rgb(234, 223, 223, 0.7);
}

.contact .fas {
  color: #0e9494;
}

.contact .btn {
  padding: 10px 30px;
  font-weight: 700;
  border: none;
}

.contact label {
  font-weight: 600;
}
.contact textarea {
  resize: none;
}
.contact .btn:hover {
  background: #0e9494;
  border: none;
}

/********************************************** FOOTER ************************************/
.footer {
  color: #fff;
  background-color: #0e9494;
}

.footer .nav a {
  color: #313030;
  text-decoration: none;
}
